* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "sans-serif";
}
body {
  background: linear-gradient(
    180deg,
    #e6e6e6 0%,
    #d3d3d3 25%,
    #b0b0b0 50%,
    #808080 75%,
    #ffffff 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hidden {
  display: none;
}
.container {
  background-color: #707a99; /* Um tom escuro de cinza-azulado */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  color: #fdfdfd;
  border-radius: 1rem;
}

.form h2 {
  margin-bottom: 1rem;
}
.form-input-container {
  display: flex;
}
.form input {
  padding: 0.8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}
.form button {
  padding: 0.8rem;
  min-width: 50px;
  margin-left: 8px;
  background-color: #8dd0f5;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
#search:hover {
  background-color: #5c54ed;
}

#weather-details {
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}
#weather-details h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}
#weather-details h2 i {
  font-size: 1rem;
}
#weather-details span  {
  margin: 0.6rem;
}
#country-code {
  height: 15px;
}
#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}
#description{
  font-weight: bold;
  text-transform: capitalize;
}
#details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#details-container #humidity {
  border-right: 1px solid #fff;
  margin: 0.6rem;
  padding: 0.6rem;
}
.location {
  display: inline-flex;
  align-items: center;
  margin-right: 10px; /* Ajuste conforme necessário */
}
.countries{
  margin-bottom: 15px;
}
/* Estilo para centralizar elementos na tela */
.error,
.success {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffcccc; /* Cor de fundo para mensagens de erro */
    color: #cc0000; /* Cor do texto para mensagens de erro */
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #cc0000; /* Cor da borda para mensagens de erro */
    font-size: 16px;
    z-index: 9999; /* Z-index alto para garantir que as mensagens estejam na frente de outros elementos */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra para destacar as mensagens */
    white-space: nowrap;
    opacity: 0.9; /* Opacidade das mensagens */
}

.success {
    background-color: #ccffcc; /* Cor de fundo para mensagens de sucesso */
    color: #006600; /* Cor do texto para mensagens de sucesso */
    border-color: #006600; /* Cor da borda para mensagens de sucesso */
}
